<mt-header class="my-header-danger" title="我的团队">
    <mt-button slot="left" icon="back" @@click="goBack()">返回</mt-button>
    <span slot="right">{{Location.City}}</span>
</mt-header>

<div class="my-title">
    <h2>我的团队记录</h2>
</div>

<div class="my-wrap my-user-wrap">
    我的团队人数：<span class="my-member-score">{{TotalItem}}</span>人
</div>

<div class="my-loadmore">
    <mt-loadmore v-show="IsPaid" :bottom-method="getDataList" :bottom-all-loaded="LoadedAll" ref="loadmore">
        <div class="my-wrap my-user-wrap" v-if="!IsLoaded">
            正在加载中...
        </div>
        <div class="my-wrap my-user-wrap" v-if="List.length==0 && IsLoaded">
            暂时还没有团队
        </div>
        <div class="my-wrap my-user-wrap" v-for="item in List">
            <div class="my-list-icon my-left">
                <img slot="icon" :src="item.Member.Avatar" width="30" height="30" />
            </div>
            <div class="my-list-content">
                <div><div class="my-label">姓名：</div><div class="my-value">{{item.Member.Name}}</div></div>
                <div><div class="my-label">手机号：</div><div class="my-value" v-html="getTel(item.Member.Phone)"></div></div>
                <div><div class="my-label">微信号：</div><div class="my-value">{{item.Member.NickName}}</div></div>
                <div><div class="my-label">备注：</div><div class="my-value">{{item.Note}}</div></div>
                <div><div class="my-label">报名人数：</div><div class="my-value my-text-info">{{item.TotalMember}}人</div></div>
                <div><div class="my-label">是否支付学费：</div><div class="my-value" v-html="getPayHtml(item)"></div></div>
                <div><div class="my-label">支付人数：</div><div class="my-value my-text-success">{{item.PaidMember}}人</div></div>
                <div><div class="my-label">佣金：</div><div class="my-value my-text-danger">{{item.TotalScore}}优币</div></div>
                <div><div class="my-label">已提现：</div><div class="my-value my-text-success">{{item.WithdrawScore}}优币</div></div>
            </div>
        </div>
    </mt-loadmore>
</div>

<div class="my-title"><p>{{LoadedAll?"加载完毕。":"上拉加载..."}}</p></div>

@Html.Partial("_MyFooter")

@section js{
    <script>
    function getVueOptions() {
        return helper.getVueModelOptions({
            data: {
                IsPaid: false,
                IsLoaded:false,
                LoadedAll: false,
                CurrentIndex: 0,
                TotalPage: null,
                TotalItem: 0,
                List: []
            },
            methods: {
                initPage: function () {
                    var _this = this;
                    helper.post("/Mob/Enroll/IsPaid", null, function (data) {
                        _this.IsPaid = data;
                    });
                },
                getTel: function (tel) {
                    if (tel == null) {
                        return "";
                    }
                    //return "<a href='tel:" + tel + "'>" + tel + "</a>";
                    return "<a href='javascript:void(0);'>" + tel + "</a>";
                },
                getPayHtml: function (item) {
                    if (item.TotalMember == item.PaidMember) {
                        return "已支付";
                    }

                    return "<b class='my-text-danger'>未支付" + (item.TotalMember - item.PaidMember) + "人</b>";
                },
                getDataList: function () {
                    var _this = this;
                    if (_this.TotalPage != null && _this.CurrentIndex >= _this.TotalPage) {
                        _this.LoadedAll = true;
                        _this.$refs.loadmore.onBottomLoaded();
                        return;
                    }
                    _this.CurrentIndex = _this.CurrentIndex + 1;
                    helper.post("/Mob/Member/GetTeamList", {
                        PageIndex: _this.CurrentIndex,
                        PageSize: 20
                    }, function (data) {
                        _this.IsLoaded = true;
                        _this.TotalPage = data.PageModel.TotalPage;
                        _this.TotalItem = data.PageModel.TotalItem;
                        $.each(data.Data, function (index, item) {
                            _this.List.push(item);
                        });

                        if (_this.CurrentIndex >= _this.TotalPage) {
                            _this.LoadedAll = true;
                        }

                        _this.$refs.loadmore.onBottomLoaded();
                    })
                }
            }
        });
    }
    </script>
}