@model UserDto
<div class="my-index-page-wrap">
    <mt-header class="my-header-danger" title="个人中心">
        <mt-button slot="left" icon="back" @@click="goBack()">返回</mt-button>
        <span slot="right">{{Location.City}}</span>
    </mt-header>

    <div class="my-wrap my-user-wrap">
        <mt-cell>
            <img class="my-user-avatar" slot="icon" :src="Model.Avatar">
            <span class="my-user-nickname" slot="title">{{Model.NickName}}</span>
        </mt-cell>
    </div>

    <div class="my-wrap my-user-wrap">
        我的邀请码：<span class="my-member-id">{{Model.ShareCode}}</span>
    </div>

    <div class="my-wrap my-user-wrap">
        <mt-cell title="我的报名" is-link to="/Mob/Enroll/Process">
            <img slot="icon" src="/Content/Mob/wz.png" width="24" height="24">
        </mt-cell>
        @*<mt-cell class="my-mint-cell" title="我的预约" is-link to="/Mob/Subscribe/List">
            <img slot="icon" src="/Content/Mob/wz.png" width="24" height="24">
        </mt-cell>*@
        <mt-cell class="my-mint-cell" title="考试记录" is-link to="/Mob/Question/Result">
            <img slot="icon" src="/Content/Mob/wz.png" width="24" height="24">
        </mt-cell>
    </div>

    <div class="my-wrap my-user-wrap">
        <mt-cell title="我要分享" is-link :to="'/Mob/Share/Index/'+Model.ShareCode">
            <img slot="icon" src="/Content/Mob/wz.png" width="24" height="24">
        </mt-cell>
        <mt-cell class="my-mint-cell" title="我的团队" is-link to="/Mob/Member/Team">
            <img slot="icon" src="/Content/Mob/wz.png" width="24" height="24">
        </mt-cell>
        <mt-cell class="my-mint-cell" title="优币记录" is-link to="/Mob/Member/Score">
            <img slot="icon" src="/Content/Mob/wz.png" width="24" height="24">
        </mt-cell>
        <mt-cell class="my-mint-cell" v-show="IsPaid" title="提现记录" is-link to="/Mob/Withdraw/Record">
            <img slot="icon" src="/Content/Mob/wz.png" width="24" height="24">
        </mt-cell>
    </div>
</div>

@Html.Partial("_Tabbar")

@section js{
   <script>
    function getVueOptions() {
        return helper.getVueModelOptions({
            data: {
                IsPaid: false,
                TabbarSelected: "t3",
                Model:@Html.Raw(SerializationHelper.ToJson(Model))
            },
            methods: {
                initPage: function () {
                    var _this = this;
                    helper.post("/Mob/Enroll/IsPaid", null, function (data) {
                        _this.IsPaid = data;
                    });
                }
            }
        });
    }
</script>
}