<el-dialog :title="getTitle('开放授权配置')" :visible="List.ModelDialog.Visible" @@close="closeDialog('List.ModelDialog')"
           :width="Common.DialogWidth"
           :close-on-click-modal="Common.CloseOnClickModal"
           :close-on-press-escape="Common.CloseOnPressEscape">
    <el-form :model="List.ModelDialog.Model" status-icon :show-message="false" ref="List.ModelDialog"
             :label-width="Common.FormLabelWidth"
             :label-suffix="Common.FormLabelSuffix">
        <el-form-item label="名称" prop="Name" required>
            <el-input placeholder="名称" v-model="List.ModelDialog.Model.Name"></el-input>
        </el-form-item>
        <el-form-item label="AppId" prop="AppId" required>
            <el-input placeholder="AppId" v-model="List.ModelDialog.Model.AppId"></el-input>
        </el-form-item>
        <el-form-item label="AppSecret" prop="AppSecret" required>
            <el-input placeholder="AppSecret" v-model="List.ModelDialog.Model.AppSecret"></el-input>
        </el-form-item>
        <el-form-item label="获取Code地址" prop="RequestUri" required>
            <el-input placeholder="获取Code地址" v-model="List.ModelDialog.Model.RequestUri"></el-input>
        </el-form-item>
        <el-form-item label="获取Token地址" prop="AccessTokenUri" required>
            <el-input placeholder="获取Token地址" v-model="List.ModelDialog.Model.AccessTokenUri"></el-input>
        </el-form-item>
        <el-form-item label="获取User地址" prop="UserInfoUri" required>
            <el-input placeholder="获取Code地址" v-model="List.ModelDialog.Model.UserInfoUri"></el-input>
        </el-form-item>
        <el-form-item label="返回地址" prop="RedirectUri" required>
            <el-input placeholder="RedirectUri" v-model="List.ModelDialog.Model.RedirectUri"></el-input>
        </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @@click="closeDialog('List.ModelDialog')">取 消</el-button>
        <el-button type="primary" @@click="submitForm('List.ModelDialog', handleSave)">确 定</el-button>
    </div>
</el-dialog>