@model EnrollDto
@{
    string strWxConfig = "";// ViewBag.WxConfig as string;
}
<mt-header class="my-header-danger" title="报名进度">
    <mt-button slot="left" icon="back" @@click="handleSelect('/Mob')">返回</mt-button>
    <span slot="right">{{Location.City}}</span>
</mt-header>

<div class="my-status">
    <p>{{getStatus}}</p>
    <p>{{Model.Enroll.Note}}</p>
</div>
<mt-cell class="my-cell-danger" v-if="!isPaid" title="报名有误？" is-link to="/Mob/Enroll/Edit" value="点击修改"></mt-cell>

<mt-cell title="所选科目：" :value="Model.Course"></mt-cell>
<mt-cell title="报名费用：" :value="Model.Enroll.Amount+'元'"></mt-cell>
<mt-cell title="所选城市：" :value="Model.Enroll.City"></mt-cell>
@*<mt-cell title="训练场地：" :value="Model.Enroll.Ground"></mt-cell>*@
<mt-cell title="就读学校：" :value="Model.Enroll.School"></mt-cell>
<mt-cell title="姓名：" :value="Model.Enroll.Name"></mt-cell>
<mt-cell title="身份证：" :value="Model.Enroll.IdCard"></mt-cell>
<mt-cell title="联系方式：" :value="Model.Enroll.Phone"></mt-cell>
<mt-cell title="居住地：" :value="Model.Enroll.Address"></mt-cell>

@*<div v-if="!isPaid" class="my-submit">
    <mt-button type="danger" @@click="pay()" :disabled="!WxReady">立即支付</mt-button>
</div>*@

<div v-if="!isPaid" class="my-submit">
    <mt-button type="danger" @@click="IsShowPayWay=true">立即支付-选择支付方式</mt-button>
</div>
<div v-if="!isPaid && IsShowPayWay" class="my-page-wrap">
    <div class="my-note">请转账到个人账户，并备注报名人的姓名+手机号（列:小明18288889999）,以便于客服查账。</div>
    <div class="my-pay-way">
        <img src="/Content/Mob/wxpay.png" @@click.prevent="setPayWay(0)" />
        <img src="/Content/Mob/alipay.png" @@click.prevent="setPayWay(1)" />
    </div>
</div>

<mt-popup v-model="QrCodeVisible"
          class="my-mint-popup my-popup-payway"
          popup-transition="popup-fade">
    <div class="my-popup-button">
        <mt-button type="danger" @@click="QrCodeVisible=false">确定</mt-button>
    </div>
    <img v-show="PayWay==0" src="/Content/Mob/wxqrcode.png" />
    <img v-show="PayWay==1" src="/Content/Mob/aliqrcode.jpg" />
</mt-popup>

@Html.Partial("_MyFooter")

@section js{
@if (!string.IsNullOrEmpty(strWxConfig))
    {
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        var wxConfig = @Html.Raw(strWxConfig);
        wx.config({
            debug: false,
            appId: wxConfig.appId,
            timestamp: wxConfig.timestamp,
            nonceStr: wxConfig.nonceStr,
            signature: wxConfig.signature,
            jsApiList: [
                "chooseWXPay"
            ]
        });
        wx.ready(function(){
            vueApp && vueApp.setWxReady();
        });

        function wxPay(){
            helper.get("/Mob/WxPay",null, function(data){
                wx.chooseWXPay({
                    timestamp: data.timeStamp,
                    nonceStr: data.nonceStr,
                    package: data.package,
                    signType: data.signType,
                    paySign: data.paySign,
                    success: function (res) {
                        helper.post("/Mob/WxPay/Check/" + vueApp.$data.Model.Enroll.Id, null, function(data){
                            helper.redirect("/Mob/Enroll/Process");
                        });
                    },
                    fail: function(res) {
                        helper.alert("支付失败，请重试。");
                    }
                });
            },function(){
                helper.alert("支付失败，请重试。");
            });
        }
    </script>
}
    <script>
    function getVueOptions() {
        return helper.getVueModelOptions({
            data: {
                WxReady: false,
                IsShowPayWay: false,
                QrCodeVisible: false,
                PayWay: null,
                Model:@Html.Raw(SerializationHelper.ToJson(Model))
            },
            computed: {
                getStatus: function () {
                    switch (this.Model.Enroll.Status) {
                        case 1:
                            return "提交订单，尚未支付";
                        case 2:
                            return "已支付，报名成功。";
                        case 3:
                            return "支付失败。";
                        case 4:
                            return "已支付申请。";
                        case 5:
                            return "支付申请未通过。";
                        case 6:
                            return "支付已撤销。";
                        default:
                            return "未知状态";
                    }
                },
                isPaid: function(){
                    return this.Model.Enroll.Status == 2;
                }
            },
            methods: {
                setWxReady: function(){
                    this.WxReady = true;
                },
                setPayWay: function(way){
                    this.PayWay = way;
                    this.QrCodeVisible = true;
                },
                getPayWaySrc: function(){
                    switch(this.PayWay){
                        case 0:
                            return "/Content/Mob/wxqrcode.png";
                        case 1:
                            return "/Content/Mob/aliqrcode.jpg";
                        default:
                            return "";
                    }
                },
                pay: function(){
                    if(this.isPaid || !this.WxReady){
                        return;
                    }
                    //wxPay && wxPay();
                }
            }
        });
    }
    </script>
}